
    .page-width-desktop {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.sh_all_product
 {
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 9px;
}
.sh_each_product {
    position: relative;
}

img.sh_plus_icon {
    /* position: absolute;
    bottom: 31%;
    right: 11%; */
    cursor: pointer;
}
.sh_product_section{
  padding-top: 90px;
}

h1.sh_product_section_title {
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 30px;
    margin-top: unset;
    font-family: "Lustria", serif;
}
.sh_close img{
    cursor: pointer;;
}

.sh_product_section .black_btn_mobile {
    background: black;
    border: unset;
    width: 100%;
    color: white;
    font-size: 16px;
    height: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    margin-top: 60px;
    align-self: center;
     font-family: "Jost" !important;

}

.sh_product_section .black_btn_mobile:hover {
background-color: #FFF544;
color: black;
}

.sh_product_popup {
    width: 360px;
    padding: 25px 17px;
    background: white;
    display: flex
;
    flex-direction: column;
}
.varient_size {
    margin-top: 11px;
}


.sh_popup_main {
     display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6); 
  z-index: 9999;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.sh_close {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

img.sh_popup_image {
    object-fit: cover;
}

.sh_product_info {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 7px;
}

p.sh_title {
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    margin-top: 7px;
    margin-bottom: 20px;
    font-family: "Jost" !important;
}

p.sh_price {
  line-height: 120%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: unset !important;
    font-family: "Jost" !important;
}

p.sh_description {
    font-size: 14px;
    line-height: 110%;
    font-weight: 300;
    margin: unset !important;
     font-family: "Jost" !important;

}
.sh_varient_name {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #333333;
}
.each_color_varient {
    display: flex
;
    align-items: center;
    gap: 11px;
    width: 50%;
}
.sh_color {
    width: 5.81px;
    height: 40px;
    border: 1px solid black;
    display: inline-block !important;
}
p.sh_color_text {
    font-size: 18px;
    font-weight: 400;
  margin:unset !important;
   font-family: "Jost" !important;

}
.colorsh_all {
    border-top: 1px solid #00000059;
    border-bottom: 1px solid #00000059;
    display: flex
;
    border-right: 1px solid #00000059;
    justify-content: start;
    flex-wrap: wrap;
}
.sh_sizes {
    display: flex
;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #00000059;
    align-items: center;
    padding: 0px 13px;
}
.sh_choose_size p {
    font-size: 16px;
    font-weight: 400;
     font-family: "Jost" !important;
     margin: unset !important;

}
.size_dropdown_sh {
    border-left: 1px solid #00000059;
    height: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}
.sizedrop {
    border: 1px solid black;
    padding: 6px 0px;
    text-align: center;
}
.eachoptionsize_sh {
    padding: 5px 0px;
color: black;
transition: all .3s ease-in-out;
}
.eachoptionsize_sh:hover {
color: white;
background-color: black;
}
.sizedrop{
    display: none;
}
.each_color_varient.active, .eachoptionsize_sh.active {
    background-color: #000000 !important;
    color: white;
    border: unset !important;
}
.size_dropdown_sh img {
    object-fit: contain;
}
.sizedrop
 {
    position: absolute;
    width: 100%;
    background: white;
}
.varient_size {
    position: relative;
}
@media(max-width:1110px){
  img.sh_popup_image.pop_p_imaage{
    width: 120px;
    height: 140px;
  }
  img.sh_popup_image {
    height: 320px;
}
}
@media(max-width:768px){
   img.sh_popup_image.pop_p_imaage{
    width: 120px;
    height: 140px;
  }
  img.sh_popup_image {
    height: 186.4199981689453px;
}
.sh_all_product
 {
    display: grid
;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 2px;
}
h1.sh_product_section_title {
    font-size: 24px;
    text-align: center;
}
}
@media(max-width:330px){
 .sh_product_info {
    display: flex
;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 7px;
    flex-direction: column;
}
}
